@model ChapeauApp.Models.ViewModels.MenusViewModel
@{
	ViewData["Title"] = "Menu";
}
<form action="/Menu/Index" method="post" id="menuForm">
	<div class="form-group py-2">
		<label for="cars">Choose a card:</label>
		<select name="card" id="card" form="menuForm">
			@*{
				for (int i = 0; i <= Model.AllMenuItems.Count; i++)
				{
					<option value="@Model.AllMenuItems[i].Menu.MenuId">"Model.AllMenuItems[i].Menu.MenuName</option>
				}
			}*@
			<option value="all">All</option>
			<option value="drinks">Drinks</option>
			<option value="lunch">Lunch</option>
			<option value="diner">Diner</option>
		</select>
		<label for="cars">Choose a category:</label>
		<select name="category" id="category" form="menuForm">
			<option value="all">All</option>
			<option value="starters">Starters</option>
			<option value="mains">Mains</option>
			<option value="desserts">Desserts</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Filter</button>
</form>
@{
	if (Model != null)
	{
		<h1>This is the menu!</h1>
		<table class="table table-hover">
			<thead class="table-dark">
				<tr>
					<th>Dish</th>
					<th>Description</th>
					<th>Price</th>
					<th>Commentary</th>
				</tr>
			</thead>
			<tbody class="bg-opacity-10 bg-black">
				@{
					foreach (Menu menu in Model.Menus)
					{
						foreach(MenuItem menuItem in menu.MenuItems)
						@if (menuItem.Stock <= 10 && menuItem.Stock > 0)
						{
							<tr class="alert-warning">
								<td>@menuItem.ItemName</td>
								<td>@menuItem.Description</td>
								<td>@menuItem.ItemPrice</td>
								<td>@menuItem.ItemName is almost out of stock! (@menuItem.Stock left)</td>
							</tr>
						}
						else if (menuItem.Stock <= 0)
						{
							<tr class="alert-danger">
								<td>@menuItem.ItemName</td>
								<td>@menuItem.Description</td>
								<td>@menuItem.ItemPrice</td>
								<td>@menuItem.ItemName is out of stock!</td>
							</tr>
						}
						else
						{
							<tr>
								<td>@menuItem.ItemName</td>
								<td>@menuItem.Description</td>
								<td>@menuItem.ItemPrice</td>
								<td>Plenty of @menuItem.ItemName left!</td>
							</tr>
						}
					}
				}
			</tbody>
		</table>
	}
	else
	{
		<h1 class="alert-danger">No menu was found!</h1>
	}
}
